<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    <h1>로그인</h1>
    <form action="/login" method="POST">
      <label for="userid">ID :</label>
      <input type="text" id="userid" name="userid" required />
      <br />
      <label for="password">PW :</label>
      <input type="password" id="password" name="password" required />
      <br />
      <button type="submit">로그인</button>
    </form>
  </body>
</html>
