/* 가상 클래스 선택자 */
/* hover : 마우스를 올리고 있는동안  */
a:hover {
  color: red;
}
/* active : 클릭하고 있는 동안 */
a:active {
  background-color: blue;
}
/* focus : 포커스가 있는 동안 */
input:focus {
  background-color: orange;
}
